.gallery {
	padding: 70px 0 60px;
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -55px;
}

.gallery__item {
	width: calc((100% - 65px) / 2);
	margin-bottom: 55px;
	box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.2);
}

.gallery__item > img {
	width: 100%;
}